<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eric.application1" >
    
    <permission android:name="com.eric.application1.permission.READ_CONTENT"
        android:protectionLevel="normal"/>

    <application
        android:name=".LHApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >


        <activity android:name=".activity.MainActivity"
            android:label="MainActivity">

        </activity>

        <activity android:name=".activity.LauncherActivity"
            android:label="LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <provider
            android:authorities="com.eric.application1.provider.BaseProvider"
            android:process=":provider"
            android:name=".provider.BaseProvider"
            android:exported="true"
            android:readPermission="com.eric.application1.permission.READ_CONTENT"/>
    </application>

</manifest>